@charset "UTF-8";
[type=file] {
    height: 0;
    overflow: hidden;
    width: 0;
}

[type=file] + label {
    background: #f15d22;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Rubik", sans-serif;
    font-size: inherit;
    font-weight: 500;
    margin-bottom: 1rem;
    outline: none;
    padding: 1rem 50px;
    position: relative;
    transition: all 0.3s;
    vertical-align: middle;
}
[type=file] + label:hover {
    background-color: #d3460d;
}